{% extends "calib/template.html" %}
{% block title %} Calibration {% endblock %}
{% block heading %} Calibration - step 3 {% endblock %}
{% block content %}
	<h3> Adjust the transducer array </h3>
	<p> Set the distance between the middle plate and the transducers to 87 millimeters. </p>

	<table>
	<tr>
	<td width="100%"> <img src="/static/img/height.jpg" align="center" width="60%">
	</td>
	</table>
	

	<div class="float-right" visibility="hidden">
		<a class="btn btn-success" href="/calib/3" role="button">Continue</a>
	</div>
	<div class="float-left">
		<a class="btn btn-danger" href="/calib/1" role="button">Back</a>
	</div>
{% endblock %}
{% block scripts %} 
{{ super() }}
{% endblock %}