{% extends "calib/template.html" %}
{% block title %} Calibration {% endblock %}
{% block heading %} Calibration - step 5 {% endblock %}
{% block content %}
<h3> Mark the centers of transducers ({{ center+1 }} of 32) </h3>
<p> Click on the image below to mark the center of the transducer. If you see multiple transducers, mark the one in the middle. You can move the created marker by clicking elsewhere. </p>
<div id="debug"></div>

<div class="imgbox">
	{% set detail_size = 40 %}
	<svg id="svg" style="width:50%;height:50%" viewBox="{{x-detail_size/2}} {{y-detail_size/2}} {{detail_size}} {{detail_size}}" xmlns="http://www.w3.org/2000/svg">
		<image href="http://{{my_ip}}:5001/image/Balls/image" x="0" y="0" id="img" height="480" width="480" />
		<g class="center" id="center" visibility="hidden" transform="translate(0,0)">
			<line x1="-5" y1="-5" x2="5" y2="5" style="stroke:red;stroke-width:0.75" />
			<line x1="5" y1="-5" x2="-5" y2="5" style="stroke:red;stroke-width:0.75" />
		</g>
	</svg>
</div>

<div class="float-right">
	<a class="btn btn-success disabled" id="continue" href="/calib/{% if center < 31 %}4/{{center+1}}{% else %}5{% endif %}" role="button">Continue</a>
</div>
<div class="float-left">
	<a class="btn btn-danger" href="/calib/{% if center > 0 %}4/{{center-1}}{% else %}3{% endif %}" role="button">Back</a>
</div>
<div style="text-align: center">
	<button class="btn btn-primary" align="middle" onclick="location.reload()" id="refresh" role="button">Refresh
		(warning: cancels current progress)</button>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
	var pt = $("svg")[0].createSVGPoint();  // Created once for document

	function img_click(x, y) {
		pt.x = x;
		pt.y = y;

		// The cursor point, translated into svg coordinates
		var cursorpt = pt.matrixTransform($("#img")[0].getScreenCTM().inverse());
		x = cursorpt.x;
		y = cursorpt.y;
		pos = [x, y];

		c = $("#center")[0];
		c.setAttribute("transform", "translate(" + x + "," + y + ")")
		c.setAttribute("visibility", "visible")

		socket.emit("center", {{center}}, pos);
		$(".btn-success").removeClass("disabled")
		setTimeout(goto_next({{center}}), 500)
	}

	function goto_next(step) {
		url_base = 'http://' + document.domain + ':' + location.port + '/calib/';
		next_page = '';
		if (step < 31) {
			next_page = '4/' + (step+1);
		} else {
			next_page = '5';
		}
		document.location.assign(url_base + next_page)
	}

	$(function () {
		$("svg").mousedown(function (event) {
			_this = $(this)
			event.preventDefault();
			var e = event.originalEvent;
			img_click(event.clientX, event.clientY);
		})
		$("svg").on("touchstart", function (event) {
			_this = $(this)
			event.preventDefault();
			x = event.originalEvent.targetTouches[0].clientX;
			y = event.originalEvent.targetTouches[0].clientY;
			img_click(x, y);
		});
	})

	var socket = io.connect('http://' + document.domain + ':' + location.port);
</script>
{% endblock %}