{% extends "calib/template.html" %}
{% block title %} Calibration {% endblock %}
{% block heading %} Calibration - step 7 {% endblock %}
{% block content %}
	<h3> Go back to platform controls </h3>
	<p> The platform has been successfully calibrated. Click the Done button to return back to platform controls. </p>

	<div style="margin-top: 10px"> &nbsp; </div>

	<div class="float-right" visibility="hidden">
		<a class="btn btn-success" href="/" role="button">Done</a>
	</div>
	<div class="float-left">
		<a class="btn btn-danger" href="/calib/5" role="button">Back</a>
	</div>
{% endblock %}
{% block scripts %} 
{{ super() }}
{% endblock %}